body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

div.container {
	text-align: center;
	margin: 0 auto;
	width: 960px;
}


/*HEADER STYLES*/

header {
	padding: 70px 0 30px;
}

header.navigation {
	padding: 50px 0 30px;
}

header img#danieldaq {
	width: 400px;
	margin-left: -20px;
}

header img.logo {
	width: 100px;
	margin-left: -40px;
}

img.logo:hover {
	opacity: 0.60;
}

header a.button {
	background: rgb(171, 200, 226);
}

header a.button.previous {
	float: left;
	margin: 45px 0 0 30px;
}

header a.button.next {
	float: right;
	margin: 45px 30px 0 0;
}


/*MAIN PAGE GRID*/

div#grid {
	overflow: hidden;
	margin-bottom: 30px;
	width: 100%;
}

div.box {
	float: left;
	width: 30%;
	padding: 1.5%;
	position: relative;
}

div.imagewrap {
	position: relative;
	width: 100%;
	height: 100%;
}

div.imagewrap a img {
	width: 100%;
	height: 100%;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}

div.description {
	position: absolute;
	top: 150px;
	bottom: 4px;
	left: 0;
	right: 0;
	background: rgba(55, 93, 129, 0.9);
	padding: 20px;
	text-align: left;
	visibility: hidden;
	opacity: 0;
	transition: opacity 300ms;
}

/*div.description.black {
	background: rgba(50, 50, 50, 0.9);
}*/

div.imagewrap:hover div.description {
	visibility: visible;
	opacity: 1;
	box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.5);
}

/*.decription p {
	color: #fff;
}*/


/*ABOUT PAGE*/

div.about-row {
	overflow: hidden;
	clear: both;
	margin-bottom: 20px;
}

div.fact {
	float: left;
	width: 20%;
}

div.fact h2 {
	text-align: right;
}

div.fact-description {
	float: right;
	width: 73%;
	margin-left: 7%;
}

div.fact-description p {
	margin-top: 2px;
}


/*PROJECT PAGES*/

div.project {
	width: 80%;
	padding: 0 10%;
}

div.title {
	margin: 50px 0 40px;
}

div.case {
	margin-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid rgba(55, 93, 129, 0.25);
}

div.case:last-child {
	border-bottom: none;
}

.narrow {
	width: 75%;
	padding: 0 12%;
}

div.project h2 {
	text-align: left
}

div.back-to-top {
	margin-bottom: 50px;
}


/*IMAGES & VIDEOS*/

div.img-case {
	overflow: hidden;
}

div.project img {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}

img.img-full {
	width: 80%;
	margin: 0 10% 0.5%;
}

div.img-row {
	overflow: hidden;
}

div.img-row img {
	float: left;
	width: 48%;
	margin: 0 1% 2%;
}

img.img-half {
	width: 50%;
	margin: 0 25% 0.5%;
}

.box-shadow {
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.pain-videos iframe {
	float: left;
	width: 48%;
	margin: 0 1% 2%;
}

div.case ul, div.case ol {
	text-align: left;
	width: 60%;
	margin: 0 20%;
	padding-left: 0;
}

div.case ul li, div.case ol li {
	margin: 20px 0;
	line-height: 1.5em;
}


/*FOOTER*/

div.info:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

div.info {
	clear: both;
	padding: 30px 0;
	border-top: 3px solid rgba(55, 93, 129, 0.5);
}

div.info h2 {
	margin: 10px 0 15px;
}

div.column {
	float: left;
}

div.about {
	text-align: right;
	width: 38%;
	padding-right: 2%;
}

div.about p {
	float: right;
	text-align: right;
	width: 80%;
	margin: 0 0 15px;
}

div.about a {
	float: right;
	clear: both;
}

div.photo {
	width: 20%;
}

img.portrait {
	width: 150px;
}

div.connect {
	text-align: left;
	width: 38%;
	padding-left: 2%;
}

img.icon {
	width: 40px;
	padding-right: 35px;
}

img.icon:hover {
	opacity: 0.75;
}

div.footer {
	position: absolute;
	left: 0px;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	font-size: 0.8em;
	font-weight: 200;
	color: rgb(255, 255, 255);
	background: rgba(55, 93, 129, 1);
}


/*TEXT STYLES*/

h1 {
	color: rgb(55, 93, 129);
	margin: 0 0 10px;
}

h2 {
	font-family: 'Oswald', sans-serif;
	color: rgb(171, 200, 226);
	margin: 0 0 10px;
}

h3 {
	font-size: 1.25em;
	font-weight: 700;
	margin: 0;
	color: #fff;
}

h4 {
	color: rgb(190, 190, 190);
	font-weight: 400;
	letter-spacing: 0.10em;
	margin: 0;
}

h4 a{
	color: rgb(190, 190, 190);
	padding: 10px;
}

h4 a:hover {
	color: rgb(55, 93, 129);
}

p {
	clear: both;
	line-height: 1.5em;
	margin: 25px 0;
	text-align: left;
}

blockquote {
	color: rgb(55, 93, 129);
	font-size: 1.5em;
	font-weight: 700;
	font-style: italic;
	margin: 50px 0;
}

big {
	margin: 0;
}

small {
	font-weight: 700;
	letter-spacing: 0.15em;
}

a {
	text-decoration: none;
}

p a {
	color: rgb(190, 190, 190);
}

p a:hover {
	color: rgb(171, 200, 226);
}

a.button {
	font-size: 0.75em;
	background: rgba(55, 93, 129, 1);
	color: rgb(255, 255, 255);
	padding: 1% 2%;
	border-radius: 5px;
}

a.button:hover {
	opacity: 0.75;
}


/*MEDIA QUERIES*/

/*IPHONE 4 & 4S*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  	  	header img#danieldaq {
		width: 600px;
		margin-left: -20px;
	}

	header img.logo {
		width: 160px;
		margin-left: -40px;
	}

	header h4 {
		font-size: 2em;
	}

	a.button {
		font-size: 1em;
		background: rgba(55, 93, 129, 1);
		color: rgb(255, 255, 255);
		padding: 2% 3%;
		border-radius: 5px;
	}

	header a.button.previous {
		float: left;
		margin: 45px 0 0 70px;
	}

	header a.button.next {
		float: right;
		margin: 45px 70px 0 0;
	}

  	div#grid {
		overflow: hidden;
		margin-bottom: 30px;
		width: 100%;
	}

	div.box {
		float: left;
		width: 47%;
		padding: 1.5%;
		position: relative;
	}

	div.description {
		position: absolute;
		top: 250px;
		bottom: 4px;
		left: 0;
		right: 0;
		background: rgba(55, 93, 129, 0.9);
		padding: 20px;
		text-align: left;
		visibility: hidden;
		opacity: 0;
		transition: opacity 300ms;
	}

	h3 {
		font-size: 2em;
		font-weight: 700;
		margin: 0;
		color: #fff;
	}

	img.icon {
		width: 60px;
		padding-right: 20px;
	}

	div.footer {
		position: absolute;
		left: 0px;
		width: 100%;
		padding: 10px 0;
		text-align: center;
		font-size: 1.25em;
		font-weight: 200;
		color: rgb(255, 255, 255);
		background: rgba(55, 93, 129, 1);
	}
}

/*IPHONE 5 & 5S*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

  	header img#danieldaq {
		width: 600px;
		margin-left: -20px;
	}

	header img.logo {
		width: 160px;
		margin-left: -40px;
	}

	header h4 {
		font-size: 2em;
	}

	a.button {
		font-size: 1em;
		background: rgba(55, 93, 129, 1);
		color: rgb(255, 255, 255);
		padding: 2% 3%;
		border-radius: 5px;
	}

	header a.button.previous {
		float: left;
		margin: 45px 0 0 70px;
	}

	header a.button.next {
		float: right;
		margin: 45px 70px 0 0;
	}

  	div#grid {
		overflow: hidden;
		margin-bottom: 30px;
		width: 100%;
	}

	div.box {
		float: left;
		width: 47%;
		padding: 1.5%;
		position: relative;
	}

	div.description {
		position: absolute;
		top: 250px;
		bottom: 4px;
		left: 0;
		right: 0;
		background: rgba(55, 93, 129, 0.9);
		padding: 20px;
		text-align: left;
		visibility: hidden;
		opacity: 0;
		transition: opacity 300ms;
	}

	h3 {
		font-size: 2em;
		font-weight: 700;
		margin: 0;
		color: #fff;
	}

	img.icon {
		width: 60px;
		padding-right: 20px;
	}

	div.footer {
		position: absolute;
		left: 0px;
		width: 100%;
		padding: 10px 0;
		text-align: center;
		font-size: 1.25em;
		font-weight: 200;
		color: rgb(255, 255, 255);
		background: rgba(55, 93, 129, 1);
	}
}

/*IPHONE 6*/
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

  	header img#danieldaq {
		width: 600px;
		margin-left: -20px;
	}

	header img.logo {
		width: 160px;
		margin-left: -40px;
	}

	header h4 {
		font-size: 2em;
	}

	a.button {
		font-size: 1em;
		background: rgba(55, 93, 129, 1);
		color: rgb(255, 255, 255);
		padding: 2% 3%;
		border-radius: 5px;
	}

	header a.button.previous {
		float: left;
		margin: 45px 0 0 70px;
	}

	header a.button.next {
		float: right;
		margin: 45px 70px 0 0;
	}

  	div#grid {
		overflow: hidden;
		margin-bottom: 30px;
		width: 100%;
	}

	div.box {
		float: left;
		width: 47%;
		padding: 1.5%;
		position: relative;
	}

	div.description {
		position: absolute;
		top: 250px;
		bottom: 4px;
		left: 0;
		right: 0;
		background: rgba(55, 93, 129, 0.9);
		padding: 20px;
		text-align: left;
		visibility: hidden;
		opacity: 0;
		transition: opacity 300ms;
	}

	h3 {
		font-size: 2em;
		font-weight: 700;
		margin: 0;
		color: #fff;
	}

	img.icon {
		width: 60px;
		padding-right: 20px;
	}

	div.footer {
		position: absolute;
		left: 0px;
		width: 100%;
		padding: 10px 0;
		text-align: center;
		font-size: 1.25em;
		font-weight: 200;
		color: rgb(255, 255, 255);
		background: rgba(55, 93, 129, 1);
	}
}

/*IPHONE 6 PLUS*/
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

  	header img#danieldaq {
		width: 600px;
		margin-left: -20px;
	}

	header img.logo {
		width: 160px;
		margin-left: -40px;
	}

	header h4 {
		font-size: 2em;
	}

	a.button {
		font-size: 1em;
		background: rgba(55, 93, 129, 1);
		color: rgb(255, 255, 255);
		padding: 2% 3%;
		border-radius: 5px;
	}

	header a.button.previous {
		float: left;
		margin: 45px 0 0 70px;
	}

	header a.button.next {
		float: right;
		margin: 45px 70px 0 0;
	}

  	div#grid {
		overflow: hidden;
		margin-bottom: 30px;
		width: 100%;
	}

	div.box {
		float: left;
		width: 47%;
		padding: 1.5%;
		position: relative;
	}

	div.description {
		position: absolute;
		top: 250px;
		bottom: 4px;
		left: 0;
		right: 0;
		background: rgba(55, 93, 129, 0.9);
		padding: 20px;
		text-align: left;
		visibility: hidden;
		opacity: 0;
		transition: opacity 300ms;
	}

	h3 {
		font-size: 2em;
		font-weight: 700;
		margin: 0;
		color: #fff;
	}

	img.icon {
		width: 60px;
		padding-right: 20px;
	}

	div.footer {
		position: absolute;
		left: 0px;
		width: 100%;
		padding: 10px 0;
		text-align: center;
		font-size: 1.25em;
		font-weight: 200;
		color: rgb(255, 255, 255);
		background: rgba(55, 93, 129, 1);
	}
}
