@import 'reset';

$dark-gray: #443b3b;

body {
  font-family: 'Raleway', sans-serif;
  color: $dark-gray;
}

.links {
  position: relative;
  text-align: center;
  margin: auto;
  width: 100%;

  ul {
    width: 100%;
    display: flex;
    float: right;

    a { color: inherit; text-decoration: none; cursor: pointer; }
    a:visited { color: inherit; text-decoration: none; cursor: pointer; }

    li {
      float: right;
      margin: 10px auto;
      color: #000;
      cursor: pointer;
    }
    
    li:hover {
      border-bottom: 2px solid #000;
    }
    i.fa {
      margin: 15px;
      // text-shadow: 4px 3px 0 #1d9d74,9px 8px 0 rgba(0,0,0,0.15);
    }
  }

  .initials {
    height: 3em;
    margin: 15px;
  }
}

div.background-image {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj48ZyBmaWxsPSIjREZERkRGIj48Y2lyY2xlIGN4PSIxMCIgY3k9IjEwIiByPSIxIi8+PC9nPjwvc3ZnPg==");
}

div.card {
  position: fixed;
  width: 30%;
  left: 1%;
  text-align: center;

  span.name {
    display: block;
    font-size: 3em;
  }

  span {
    display: block;
    line-height: 1.4em;
  }

  .name { font-size: 4em;}
  .title {
    font-size: 1.3em;
    line-height: 2em;
    color: gray;
  }

  div.avatar {
    margin: 1em auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px solid #ccc;
    overflow: hidden;
    text-align: center;
    img { width: 100%; }
  }

  p {
    font-size: 1em;
    line-height: 1.4em;
    color: gray;
  }
}

.projects-container {
  height: 80%;
  position: absolute;
  right: 10%;
  width: 25%;
}

ul.projects {
  position: relative;
  list-style: none;
  height: 100%;
  width: 100%;
  overflow: scroll;

  li {
    width: 100%;
    overflow: hidden;
    transition: background 1s;
    text-align: center;

    img {
      display: block;
    }

  }

  li {
    margin-top: 5px;
  }

  li.selected {
    background-color: #80DEEA;
  }
}

ul.projects:after {
  position: fixed;
  top: 10%;
  width: 25%;
  height: 80%;
  content: "";
  background:
      linear-gradient(to bottom,
       rgba(255,255,255, 0),
       rgba(255,255,255, 1)
    );
  pointer-events: none; /* so the text is still selectable */
}

::-webkit-scrollbar {
  display: none;
}
